<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="LogToConsole" target="SYSTEM_OUT">
			<PatternLayout pattern="%d - %C [%M] -(%p) %m %n" />
		</Console>
		<File name="LogToFile" fileName="logs/app.log">
			<PatternLayout pattern="%d - %C [%M] -(%p) %m %n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="LogToConsole" />
			<AppenderRef ref="LogToFile" />
		</Root>
	</Loggers>
</Configuration>